* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-image:linear-gradient(0,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,
    url(/images/bg.jpg);
    height: 300px;
    position: relative;
    border-bottom: 3px solid #fff;
}
.top-header{
    background-color: rgba(0,0,0,0.7);
    display: block;
    text-align: center;
    text-transform: uppercase;
    height: 44px;
    line-height: 44px;
    font-weight: bold;
}
h1,h3,h4{
    color: aliceblue;
}
.bottom-header{
    position: absolute;
    line-height: 60px;
    padding-top: 32px;
    text-align: center;
    left: 540px;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
}
.avatar img{
    position: absolute;
    border-radius: 100%;
    margin-top: 30px;
    border: 4px solid #fff;
    justify-content: center;
    width: 200px;
    height: 200px;
    top: 160px;
}
.main-content{
    background-color: #333;
    height: 1000px;
    padding-top: 100px;
    margin: auto;
} 
.main-content p{
    font-weight: bolder;
}
.main-content li{
    font-size: 15px;
}
.information, .study, .products, .images, .infor-subject, .link, .gallery, .infor-content{
    display: flex;
    border-bottom: 1px solid #fff;
    width: 900px;
    margin-top: 60px;
    padding-top: 5px;
    margin: auto;
} 
.infor p,.std p,.prd p,.img p{
    color: #fff;
    padding-left: 2px;
    padding-top: 5px;
    align-content: center;

}
.if li{
    color: #fff;
    list-style-type: none;
    line-height: 24px;
}
.main-content i,p{
    color: #fff;
}
.link-product li a{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    line-height: 24px;

}
.link{
    display: list-item;
}
.link li{
    list-style-type: none;
}
.gallery{
    width:600px;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px;
}
.gallery-main{
    display:grid;
    gap:1px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
.gallery-items{
    width:180px;
    height:100px;
}
.gallery-items:first-child{
    grid-row:1/4;
    height:100%;
}
.gallery-items:nth-child(2){
    grid-column: 2/4;
    width: 360px;
}
.gallery-items:nth-child(6){
    grid-column: 4/5;
    grid-row: 2/4;
    height:100%;
}
.gallery-items img{
    width:100%;
    height:100%;
    object-fit: cover;
}